@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */


html{
  background-color: black;
  color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* slate-950 */
  background: #020617;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* slate-900 */
  background: #0f172a; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* slate-700 */
  background: #334155;
}